@use 'variables';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/hero_desktop.jpg);
    text-align: center;
    background-size: cover;
    margin-top: -100px;
    

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-repeat: no-repeat;
        margin-top: -70px;
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 500px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 0;

            @media (max-width: 768px) {
                img  {
                    max-width: 180px;
                }
            }
        }

        .title--small {
            margin-bottom: 24px;
        }

        p {
            margin-bottom: 20px;
        }

        &__watch {
            align-items: center;
            display: flex;
            justify-content: space-between;
            list-style: none;

            @media (max-width:768px) {
                display: block;
            }

            &__movie {
                width: calc(50% - 12px);
                align-items: center;

                @media (max-width:768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
        }
    }

}