// colors
$bgColor: #000000;
$buttonColor: #204829;
$secButtonColor: #22b455;
$darkButtonColor: #000;

// text color
$mainTextColor: silver;
$secTextColor: #f9f9f9;

// fonts
@font-face {
    font-family: matrix;
    src: url(../../assets/fonts/matrix.ttf);
    font-weight: 600;
}